div {
    padding: 10px 15px;
    color: black;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.is-active {
    color: darkgreen!important;
    background-color: #eeeeee!important;
    font-weight: bold;
}

*:hover {
    background-color: #F8F8F8;
}