<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title">
                Lists
            </h1>
            <div class="list-menu">
                <app-list-items class="list-menu-items"></app-list-items>
            </div>
            <button class="new-task">
                Add New Task
            </button>
        </div>
        <div class="task-list-container">
            <h1>Tasks
            </h1>
            <div class="task-menu">
                <app-task-items class="task-menu-item"> yes</app-task-items>
            </div>
        </div>
    </div>
</div>