div {
    margin-bottom: 5px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    transition: box-shadow .2s ease;
}

div:hover {
    box-shadow: 0 0 0 5px #eeeeee;
}

.complete {
    text-decoration: line-through;
}