div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: darkgreen;
    border-radius: 50px;
}

h1 {
    color: white;
    font-size: 20px;
}

p {
    width: max-content;
    height: max-content;
}